.root {-fx-background-color: #bbc8c9;}
.button {
    -fx-background-color: #048bf2;
    -fx-padding: 10px;
    -fx-margin: 10px;
    -fx-min-width: 125px;
    -fx-text-fill: #fff;
}

.text-field{
    -fx-background-color: #fff;
}

.label {
    -fx-text-fill: #000;
}

.choice-box .label{
    -fx-text-fill: #000;
}

.choice-box{
    -fx-min-width: 175px;

}